<mat-toolbar class="body">
    <span> DeepSea Store </span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/lobby">Inicio</button>
    <button mat-button routerLink="/user-crud">Usuarios</button>
    <button mat-button routerLink="/product-crud">Productos</button>
    <button mat-button routerLink="/comment-crud">Comentarios</button>
    <button mat-button routerLink="/address-crud">Direcciones</button>
    <button mat-button>Ordenes</button>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="logout()">Cerrar Sesión</button>
</mat-toolbar>