<div
  class="bg-primary login min-vh-100 min-vw-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="col-12 text-center mb-4 text-white">
        DevOps
      </h1>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-5" >
        <div class="card border-0 shadow rounded-3">
          <div class="card-body px-5">
            <h5 class="card-title text-center fw-normal fs-4 pt-3">
              Registrate
            </h5>
            <form
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              class="pt-3"
            >
              <div class="form-floating mb-3">
                <input
                  type="username"
                  class="form-control"
                  id="floatingInput1"
                  placeholder="username"
                  #userName
                />
                <label htmlFor="floatingInput1">Username</label>
              </div>
              <div class="form-floating mb-3">
              <input
                  type="email"
                  class="form-control"
                  id="floatingInput2"
                  placeholder="email"
                  #email
                />
                <label htmlFor="floatingInput2">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  #password
                />
                <label htmlFor="floatingPassword">Password</label>
              </div>
              <div class="row justify-content-between py-3">
                <a href="/login" class="btn btn-secondary col-md-5 my-1">Regresar</a>
                <button
                  class="col-md-5 btn btn-primary fw-bold my-1"
                  type="submit"
                >
                  Registrarse
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
